<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assests/css/bootstrap.min.css">
    <title><%=title %></title>
</head>
<body>
    <div class="page-wrapper">
        <nav class="navbar navbar-dark" style="background-color:#e6e3fd">
            <span class=" mb-0 h1 navbar-brand"> 
            <a href="/">
                <img src="../assests/images/logo.png" width="50px" height="50px">
                Products managment
            </a>
        </span>
        <a class="float-right btn btn-outline-primary" href="/add">
            Add a product
        </a>
    </nav>
    </div>
    </body>

